.button{
    background-image: url('../../images/white-speech-bubble-icon-42068.png');
    background-repeat: no-repeat;
    background-position: center;
    height:80px;
    width: 80px;
    background-color: #5D3F58;
    background-size:50px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}