
/* imported fonts */
/* @font-face {
    font-family: 'Catamaran';
    src: url('cd:C/fonts/Catamaran.ttf');
    font-weight: 1000;
    font-style: normal;
    
} */

.pictureContainer {
  height: 192px;
  margin-left: 10%;
  overflow: hidden;
  margin-bottom: 60px;
  /* Add any common styles here */
}


/* body settings */
body{
    background-color:#ECE1E7 ;
    width: 100vw;
    overflow-x: hidden;
}


/*BANNER*/

.indexBanner{
    width: 100vw;
    height: 80vh;
    background-image: url('../images/backgroundhomepage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    
}

.titleCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-shadow: 2px 2px 4px #1c0a19;
    overflow: hidden;
}


/* Brand Title */
.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Catamaran'; */
    color: #ECE1E7;
    font-size: 700%;
    font-weight: 1000; 
    overflow-x: hidden;
}


/* button placement */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    position:absolute;
    width: 100%;
  }

/* styling first div about information */
.info_titles{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'Catamaran'; */
    font-weight: 1000;
    color: #5D3F58;
    margin-top: 50px;
    left: 15px;
    display:flex;
    justify-content: flex-start;
    margin-left:15%;
    font-size: 50px;
    overflow: hidden;
}

.line{
    background-color: #5D3F58;
    height:5px;
    width: 40%;
    margin-left:10%;
    overflow: hidden;
}

.info_details{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: #5D3F58;
    margin-top: 30px;
    display:flex;
    justify-content: flex-start;
    margin-left:10%;
    font-size: 30px;
    overflow: hidden;
    word-break: keep-all;
}

.info_pictures{
    background-image: url('../images/FlowerFieldHomePages.jpeg');
    height:192px;
    width: 80%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    margin-left: 10%;
    overflow: hidden;
    margin-bottom: 60px;
}


/* styling second div about popular products */
.popular_items_container{
    background-color: #5D3F58;
    overflow-x: hidden;
}

.popular_title{
    color:#ECE1E7;
    /* font-family: 'Catamaran'; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    margin-top: 50px;
    left: 15px;
    display:flex;
    justify-content: flex-end;
    padding-top: 5%;
    margin-right:15%;
    font-size: 50px;
    overflow: hidden;
}

.popular_line{
    background-color: #ECE1E7;
    height:5px;
    margin-left: 50%;
    right:0 !important;
    margin-right:10%;
    margin-bottom: 30px;
    overflow-x: hidden;
}

.toastNotification {
    /* background-color: #ECE1E7; */
    color: #ECE1E7;
  }

  .cardsHolder{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    overflow-x: scroll;
    white-space: nowrap;
    max-width: 95vw;
    padding:5px;
    scrollbar-width: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  
/* 
  .cardsHolder::-webkit-scrollbar {
    display: none; /* Hide the scrollbar in WebKit browsers 
  } */
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    margin: 5px;
    text-align: center;
    font-family: arial;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cardcontainer {
    padding: 2px 16px;
    padding-top: 16px;
    background-color: #ECE1E7;
  }
  
  .cardpicture {
    width: 250px;
    height: 250px;
    background-color: #1c0a19;
    display: flex;
    justify-content: center;
    object-fit: scale-down;
    overflow:hidden;
    /* background-image: url('../images/logo.jpg'); */
  }
  
  .cardTitle {
    color: #1c0a19;
    word-break: break-all;
  }

  /* @media only screen and (max-width: 600px) {
    .cardpicture{
      height:150px;
  }
  } */

  /* styling div with social media */
  .socialmediaholder{
    background-color: #ECE1E7;
  }

  .socialmedias{
    display: flex;
    justify-content: center;
  }

  .socialmedialogo{
    height:100px;
    margin:50px;
  }

  .socialmediatext{
    font-size: 200%;
    padding-top: 50px;
    background-color: #ECE1E7;
  }

  /* Media query for responsive design */
@media screen and (max-width: 768px) {
  .socialmedialogo {
    height: 60px; 
    margin: 5px; 
  }

  .socialmediatext {
    font-size: 150%; 
    padding-top: 10px; 
  }
}



/* 
.info_pictures {
  height: 192px;
  width: 80vw;
  margin-left: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
  margin-bottom: 60px;
}

.carouselcontainer {
  overflow: hidden;
}


.slide {
  box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

}

.carousel {
  display: flex;
  width: 100vw;
  scroll-snap-type: x mandatory;
  animation: carousel-scroll 5s infinite ease-in-out;
}

@keyframes carousel-scroll {
  0%, 33.33% {
    transform: translateX(0%);
  }
  33.34%, 66.66% {
    transform: translateX(-33%);
  }
  66.67%, 100% {
    transform: translateX(-66%);
  }
} */
