.backgroundImage{
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding-bottom: 8vw;

}

.companyName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    font-palette: #ECE1E7;
    position:absolute; 
    left:37vw;
    top:1vw;
    text-shadow: 2px 2px 4px #000000;
}

.container{
    /* background-image: url(../images/BackgroundPic.jpg); */
    border-color: #000000;
   /* // border-radius: 32px; */
    border-width: 3px;
}

/*BANNER*/

.indexBanner{
    width: 100vw;
    height: 80vh;
    background-image: url('../images/backgroundhomepage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.titleCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.title{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ECE1E7;
    font-size: 500%;
    font-weight: 1000; 
}

body{
    background-color:#ECE1E7 ;
    width: 100vw;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
  }