.container {
    width: 100vw;
    height: 80vh;
    margin-top: 100px;

  }
  
  .textBoxes {
    flex: 1; 
    width:70%;
    background-color: #ECE1E7;
    border: 2px solid #5D3F58;
    margin-right: 8px; /* Add some margin between the text box and button */
    height: 40px;
    color: #5D3F58;
  }
  
  .button {
    flex: 1; /* Allow the button to take up available space */
    background-color: #5D3F58;
    color: #ECE1E7;
    border-radius: 25px;
    border: none;
  }

  .filterbox {
    height: 50vh; 
    width: 35vw; 
    background-color: #5D3F58; 
    margin-right:5%;
    margin-left:5%;
}
  
  .filterandproductcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:5%;
  }
  
  .productbox {
    background-color: #5D3F58; 
    width:70%;
    height: 70vh;
    margin-right: 5%;
    overflow-y: scroll;
  }

  .cardsHolder{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 95vw;
    padding:5px;

  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 5px;
    text-align: center;
    font-family: arial;
    border-radius: 25px;
    overflow: hidden;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cardcontainer {
    padding: 2px 16px;
    padding-top: 16px;
    background-color: #ECE1E7;
   
  }
  
  .cardpicture {
    width: 200px;
    height: 200px;
    background-color: #1c0a19;
    display: flex;
    justify-content: center;
    object-fit: scale-down;
    overflow:hidden;
    /* background-image: url('../images/logo.jpg'); */
  }
  
  .cardTitle {
    color: #1c0a19;
  }
  
  