.container{
    /* border-color: #5D3F58;
    border-radius: 5px;
    border-style: solid; */
    width: 60%;
    display:flex;
    flex-flow: column;
    background-color: #ECE1E7;
    justify-content: center;
    align-items: center; 
    /* height: 80%; */
}
.button {
    background-color: #5D3F58;
    border-radius: 25px;
    width: 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ECE1E7;
    font-family: 'Raleway', sans-serif;
}


.divsOnRow{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.infoColumn{
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5%;
    /* justify-content: flex-start;
    align-items: center; */
}

.infoColumn p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.infoProfile{
    display:flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10%;
}

.infoProfile p{
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

.textBoxes{
    display:flex;
    background-color:#ECE1E7;
    border-style: solid;
    border-color: #5D3F58;
    margin-bottom:1%;
    /* padding-right:20vw; */
    width: 80%;
    height:40px;
    color: #5D3F58;
}